.features-section {
    padding: 96px 0;
}

.features {
    background-color: #FFFFFF; 
}

.features .list {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}

.features .item {
    max-width: 288px;
}

.features-icon-wrapper {
    display: none;
    background-color: #F4F4Fd;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
    justify-content: center;
    align-items: center;
}

.features .subtitle {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.features .text {
    color: #434455;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}

@media screen and (min-width: 768px) {
    
    .features-section {
        padding: 96px 0;
    }

    .features .list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        justify-content: center;
    }

    .features .item {
        max-width: 356px;
    }

    .features .subtitle {
        text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .features-section {
        padding: 120px 0;
    }

    .features .list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        justify-content: flex-start;
    }

    .features .item {
        max-width: 264px;
    }

    .features-icon-wrapper {
        display: flex;
    }

    .features .subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: start;
    }

    .features .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}