.features-section {
    padding: 120px 0;
}

.features {
    background-color: #FFFFFF; 
}

.features .list {
    display: flex;
    gap: 24px;
}

.features .item {
    flex-basis: 264px;
}

.features-icon-border {
    display: flex;
    background-color: #F4F4Fd;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
    justify-content: center;
    align-items: center;
}

.features .subtitle {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.features .text {
    color: #434455;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}